<div>THIS IS THE HTML</div>
<div ng-controller="tictactoeController">
	<label for="name">Name</label>
	<input id="name" ng-model="name">
	
	<label for="userName">UserName</label>
	<input id="userName" ng-model="userName">
	<div>
		{{name}}
		<button ng-click="createGame()">Create Game</button>
		<button ng-click="testButton()">Test
		</button>
	</div>


	<div>
		<table>
		<tr ng-repeat='row in grid'>
			<td>
				<button ng-click='cellClicked($index, 0)'>
					{{row[0]}}
				</button>
			</td>
			<td>
				<button ng-click='cellClicked($index, 1)'>
					{{row[1]}}
				</button>
			</td>
			<td>
				<button ng-click='cellClicked($index, 2)'>
					{{row[2]}}
				</button>
			</td>
		</tr>
		</table>
	</div>
</div>