<div>THIS IS THE HTML</div>
<div ng-controller="tictactoeController">
	<label for="gameId">Name</label>
	<input id="gameId" ng-model="gameId">
	
	<label for="userName">UserName</label>
	<input id="userName" ng-model="userName">
	<div>
		<button id="createGame" ng-click="createGame()">Create Game</button>
		<button id="joinGame" ng-click="joinGame()">Join Game</button>
	</div>




	<div id='tictactoeBoard' ng-show='inGame || gameFinished'>
		<h2 id="gameMessage">{{gameMessage}}</h2>
		<table>
		<tr ng-repeat='row in grid track by $index' ng-init='x=$index'>
			<td ng-repeat='cell in row track by $index' ng-init='y=$index'>
				<button ng-class="'cell' + y + x" ng-click='makeMove(y, x)'>
					{{cell}}
				</button>
			</td>
		</tr>
		</table>
	</div>


	<h2 id="EventsList">Events</h2>
	<ul>
	<li ng-repeat='event in events track by $index'>
		<p>{{event.eventName}}</p>
		<p>{{event.userName}}</p>
		<p>{{event.cell}}</p>
		<p>{{event.message}}</p>
		<p>{{event.command.cell}}</p>
	</li>
	</ul>
</div>